:root{
  --van-blue:#3b86e0;
  --van-gray-8:#222222;
  --van-red:#ff4064;
  --van-font-size-lg:16px;
  // smui特有变量 
  --van-sfl-title-size:18px;
  --van-sfl-clear-icon-size:20px;
  --van-sfl-border-color:#dde2e5;
  --van-sfl-gray-5:#666a6f;
  --van-slf-gray-6:#99a4b0;
  --van-slf-readonly-bgcolor:#ededed;
}